.Applause {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .65rem;
  border-top: 1px solid black;
}

.Applause img {
  width: 30px;
  border-radius: 6px;
  border: 2px solid black;
  box-shadow: 0 0 10px black;
  margin-right: 1rem;
}

.Applause img:hover {
  cursor: pointer;
}
