.Landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gridContainer {
  display: grid;
  max-width: 980px;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 300px 300px 300px;
}

.grid-item {
  width: 100%;
  height: 100%;
}

footer {
  position: fixed;
  bottom: 2rem;
  font-family: 'Rock Salt';
  color: white;
}

@media only screen and (max-width: 520px) {

  .gridContainer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .grid-item {
    width: 100%;
  }

  .landing-vid {
    display: none;
  }

  footer {
    position: static;
    padding: 3rem;
  }
}

@media screen and (max-height: 600px) {
  footer {
    position: static;
    padding: 3rem;
  }
}
