.App {
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway';
  background-color: black;
}

.App-header {

  display: flex;
  height: 20%;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5rem;
  font-family: 'Rock Salt';
}

.signed-in-nav {
  display: flex;
  flex-direction: column;
}

.name-sign-out {
  margin-top: .5rem;
}

.name-sign-out {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.name-sign-out div {
  margin-left: .7rem;
  margin-right: .7rem;
  font-size: .75rem;
  font-weight: bold;
}

.gravatar-sign-out {
  border-radius: 50%;
}

.links {
  display: flex;
  flex-direction: column;
}

.link {
  margin: .5rem;
}

.gridContainer {
  display: grid;
  max-width: 980px;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 300px 300px 300px;
}

.grid-item {
  width: 100%;
  height: 100%;
}

.SignUp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eff1f4;
  width: 100%;
}

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 300px;
  color: black;
  padding-right: 1rem;
  padding-left: 1rem;
}

.login {
  display: flex;
  flex-direction: column;
  color: white;
  padding-right: 1.5rem;
  border-radius: 7px;
  max-width: 250px;
}

.SignOut {

}

.sign-up-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: .8rem;
}

.button {
  max-width: 100px;
  margin: 0 auto;
  margin-top: .5rem;
  background-color: darkgrey;
  border: none;
  padding: .5rem;
  border-radius: 3px;
  box-shadow: 0 0 10px darkgrey;
  color: white;
  font-family: 'Raleway';
  text-decoration: none;
}

.edit {
  margin: 0 auto;
}

.delete {
  background-color: red;
}

.no-show {
  display: none;
}

.bold {
  font-weight: bold;
}

Link {
  text-decoration: none;
}

.App-intro {
  font-size: 1.5rem;
  font-family: 'Rock Salt';
}

.Landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Studio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-bottom: 3rem;
}

.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-bottom: 3rem;
}

.instructions {
  text-align: left;
}

.instructions h4 {
  text-align: center;
}

.edit-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-info {
  margin-top: 1.5rem;
}

.profile-input {
  margin-top: 1.5rem;
  margin-right: .75rem;
}

.profile-form {
  padding-bottom: 1rem;
}

iframe {
  width: 560px;
  height: 315px;
  border: 10px solid black;
  box-shadow: 0 0 12.5px black;
  text-align: center;
  margin: 2rem;
}

.critique {
  font-size: .8rem;
  color: black;
}

.critique-line {
  padding: .75rem;
  padding-left: 1.5rem;
  border-radius: 1rem;
  text-align: left;
  margin: .5rem;
  box-shadow: 0 0 5px black;
}

.critique-line:nth-child(odd) {
  background-color: black;
  color: white;
}

.critique-line:nth-child(even) {
  background-color: white;
  color: black;
}

.video {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  background-color: #eff1f4;
  background: linear-gradient(to bottom right, #66768e, #afc7ed, #66768e, #afc7ed);
  padding: 2rem;
  box-shadow: 0 0 10px black;
}

.delete-account {
  margin-top: 5rem;
}

.Applause {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .65rem;
  border-top: 1px solid black;
}

.Applause img {
  width: 30px;
  border-radius: 6px;
  border: 2px solid black;
  box-shadow: 0 0 10px black;
  margin-right: 1rem;
}

.Applause img:hover {
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 2rem;
  font-family: 'Rock Salt';
  color: white;
}

@media only screen and (max-width: 800px) {

  .App-title {
    font-size: 1.25rem;
  }

  .video p {
    padding: .5rem;
    width: 380px;
    font-size: .75rem;
  }

  iframe {
    width: 380px;
    height: 300px;
    margin: .7rem;
  }

  .critique-line {
    font-size: .7rem;
    width: 340px;
    margin: 0 auto;
    margin-top: .8rem;
  }
}

@media only screen and (max-width: 520px) {

  .App {
    font-size: .8rem;
  }

  .App-header {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    color: white;
  }

  .login {
    margin: 0 auto;
    padding-right: 0;
  }

  .login form,
  .sign-up-form {
    font-size: .65rem;
  }

  .login button,
  .sign-up button {
    font-size: .55rem;
  }

  .name-sign-out div {
    font-size: .65rem;
  }

  .name-sign-out button {
    font-size: .55rem;
  }

  .gridContainer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .grid-item {
    width: 100%;
  }

  .landing-vid {
    display: none;
  }

  .video {
    padding: 0;
    padding-bottom: .75rem;
  }

  .video p {
    padding: .5rem;
    width: 240px;
    font-size: .75rem;
  }

  iframe {
    width: 240px;
    height: 160px;
    margin: .7rem;
  }

  .critique-line {
    font-size: .7rem;
    width: 220px;
    margin: 0 auto;
    margin-top: .8rem;
  }

  footer {
    position: static;
    padding: 3rem;
  }
}

@media screen and (max-height: 600px) {
  footer {
    position: static;
    padding: 3rem;
  }
}
